* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}
.maincontainer {
    width: 80%;
    display: flex;
}
.maincontainer__text {
    width: 50%;
}
.nav {
    width: 95%;
    display: flex;
    display: inline-flex;
    justify-content: space-between;
}
.nav h3 {
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
}
.nav__links {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav__links a {
    text-decoration: none;
    color: black;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
.maintextcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 75%;
    height: 95%;
}
.maintextcontainer__text {
    display: flex;
    flex-direction: column;
    height: 60%;
}
.maintextcontainer__text h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 80px;
}
.maintext p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
}
.maintext__iconbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    height: 10%;
}
.maintext__iconbox img {
    max-width: 15px;
}
.maincontainer__image {
    width: 50%;
    min-height: 600px;
}
.maincontainer__image img {
    width: 100%;
    height: 100%;
}
.nav__links .header__link a:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 1200px) {
    .nav {
        width: 100%;
    } 
    .maincontainer {
        flex-direction: column;
    }
    .maincontainer__text {
        width: 100%;
    }
    .maintextcontainer {
        width: 100%;
        padding-top: 30px;
    }
    .maintext__info {
        padding-left: 10px;
        padding-right: 10px;
    }
    .maintextcontainer__text {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 40px;
        min-height: 300px;
        justify-content: flex-end;
    }
    .maincontainer__image {
        width: 100%;
    }
    .maintext__iconbox img {
        visibility: hidden;
    }
@media screen and (max-width: 520px) {
    .nav__links {
        width: 70%;
    }
    .maintextcontainer__text h1 {
         font-size: 50px;
    }
}   
}