* {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    padding-top: 4rem;
}
.maincontainer {
    width: 80%;
    background-color: blue;
    display: flex;
}
.maincontainer__text {
    width: 50%;
}
.nav {
    width: 100%;
    display: flex;
    display: inline-flex;
    background-color: aqua;
}
.nav__links a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
.maincontainer__image img {
    object-fit: cover;
    width: 100%;
}